:root {
    --background-shade: #eeeef0;
    --white: #fff;
    --primary-text: #000;
    --subtext: #231f20;
    --icons-accent: #009ade;
    --primary-green-accent: #89c14b;
    --secondary-green-accent: #5b8c24;
    --services: #1e82d9;
}

#index_banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/curriculum\ background.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    height: 65vh;
    width: 100%;
    /* color: var(--white) !important; */
}

.banner-body {
    color: #ffffff !important;
}

.banner-heading {
    color: #ffffff !important;
}

#index_banner .carousel-item {
    min-height: 60vh;
}

#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 4em;
}

#index_banner .carousel-inner {
    height: 100%
}

#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
    background-color: var(--secondary-green-accent) !important;
}

.carousel-text {
    height: 300px;
    width: 100%;
    /* background-color: #000; */
    /* clear: both; */
    padding: 0 20% 0 20%;
}

.carousel-recent .carousel-control-prev,
.carousel-recent .carousel-control-next {
    color: var(--secondary-green-accent) !important;
    background: var(--secondary-green-accent);
}


.typo-space-line::after,
.typo-space-line-center::after {
    content: "";
    width: 150px;
    display: block;
    position: absolute;
    border-bottom: 5px solid var(--secondary-green-accent);
    padding-top: .5em;
}

.banner-list {
    color: var(--white) !important;
    border-left: 4px solid var(--primary-green-accent);
}

.banner-list li {
    list-style-type: none;
    margin-bottom: 1rem;
    background: url('../images/disc.svg') no-repeat left top;
    padding: 0px 0 3px 24px;
}

@media screen and (max-width: 575px) {
    #index_banner {
        height: 100svh;
    }

    #index_banner .carousel-item {
        min-height: 40vh;
    }

    #index_banner .carousel-control-prev i,
    #index_banner .carousel-control-next i {
        font-size: 2em;
    }

    #index_banner .carousel-inner {
        height: 100%
    }

    #index_banner .carousel-indicators li,
    #index_banner .carousel-indicators.active {
        background-color: var(--secondary-green-accent) !important;
    }

    .carousel-text {
        height: 200px;
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .banner-heading {
        font-size: 2.5rem !important;
        padding: none;
    }

    .banner-content {
        padding-top: none !important;
        padding-bottom: none !important;
    }

    .banner-list li {
        list-style-type: disc;
        background: none;
    }
    .banner-list li::marker{
        color: var(--primary-green-accent) !important;
    }
}